@import '../utilities/vars';
@import '../base/icons';

footer {
    background-color: $colorSecondary;
    display: flex; 
    justify-content: center;
    padding: 2rem 0 2.5rem 0; 


    .footerContainer {
        display: flex; 
        flex-direction: column; 
        flex-shrink: 0;
        width: 90%;
        
        @media (min-width: 768px) { 
            flex-direction: row;
            justify-content: space-between;    
        }
    }

    .socialContainer {

        @media (min-width: 768px) { 
            width: 30%;  
        }

        img {
            margin: 0 auto 1rem;  
        }

        .hr {
            background-color: $colorTextHover;
            margin-bottom: 1.5rem; 
        } 
    }
    .infoContainer {
        display: flex; 
        flex-direction: column; 

        @media (min-width: 768px) { 
            width: 60%;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;   
        }

        ul {
            @media (min-width: 768px) {
                margin: 0 auto;
            }
             
        }

        li {
            color: #fff;
            margin: .5rem 0; 
            
            @media (min-width: 768px) {
                font-size: 1.1rem;
            }
        }
    }

    .socialMedia {
        display: flex;
        width: 100%;
        justify-content: flex-end;  
    }

    a {
        margin-left: 2.2rem;  
    }
}