@import '../utilities/vars';
@import '../base/typography'; 

body {
    font-family: $font-stack;
    color: $colorText;
    background-color: $colorPrimary;
    overflow-x: hidden; 
}
.mainContent { 
    display: flex; 
    flex-direction: column; 
    width: 100vw; 
    flex-grow: 1; 
    height: 100vh;
    
    p {
        @extend %paragraph; 
        margin: 0 auto; 
    }

    .hr {
        width: 70vw;
        height: 2px; 
        background-color: $colorText;  
    }
}

.carouselSelection {
    display: flex; 
    justify-content: center; 
    margin: 0 auto;  
}

.contentContainer {
    width: 90%; 
    margin: 0 auto; 
    display: flex; 
    flex-direction: column;
    align-items: center; 

    .description {
        width: 75%; 
    }

    .underline {
        display: block;
        width: 100%; 
        height: 2px; 
        background-color: $colorTextHover;  
    }

    .matsedill, 
    .velja {
        color: $colorTextHover; 
        font-size: 1.25rem; 
        line-height: 1.5rem; 
        text-decoration: none; 
        border-bottom: 2px solid $colorTextHover;
        // padding: precise px

        &:hover {
            transition: all 0.4s ease-in-out; 
            color: $colorText;
            border-bottom: 1px solid $colorExtraPrimary;
        }
    }
    .matsedill {
        padding: 1rem 32px; 
    }
    .velja {
        padding: 1rem 15px; 
    }
    
}




