@import '../base/typography';
@import '../utilities/vars';

.styleguide-container{
    margin-left: 50px;
    height: 3000px
}
.spacing{
    margin: 20px;
}


// small btn

.btn-sm{
    width: 6rem;
    height: 2rem;
    background-color: $colorExtraPrimary;
    color: white;
    font-size: 1rem;
    outline: none;
    border: none; 
    cursor: pointer; 

    &:hover{
        transition: .3s;
        background-color: $colorExtraSecondary;
    }
}


// large btn

.btn-lg{
    width: 20rem;
    height: 2.75rem;
    background-color: $colorExtraPrimary;
    color: white;
    font-size: 1rem;
    outline: none;
    border: none; 
    cursor: pointer;

    &:hover{
        transition: .3s;
        background-color: $colorExtraSecondary;

    }
}


// xtralarge btn
.btn-xl {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    width: 100vw; 
    height: 2.75rem;
    padding: 0 1.5rem; //padding left og right - could change! 
    background-color: $colorExtraPrimary;
    color: white;
    font-size: 1rem;
    outline: none;
    border: none;
    cursor: pointer;

    &:hover {
        transition: .3s;
        background-color: $colorExtraSecondary;
    }
    
    div {
        display: flex; 
        align-items: center; 
    }
    span {
        margin: 0 .5rem; //bil a milli elementa - could change!  
    }
}

// Switch Select Buttons - display container div flex 
.matsedill, 
.velja {
    color: $colorTextHover; 
    font-size: 1.25rem; 
    line-height: 1.5rem; 
    text-decoration: none;
    padding: 1rem 0;  
    border-bottom: 1px solid $colorTextHover;
    // padding: precise px

    &:hover {
        transition: all 0.2s ease-in-out; 
        color: $colorText;
        border-bottom: 1px solid $colorExtraPrimary;
    }
}

//Nutri Info Btn 
.nutriInfoBtn {
    width: 100vw; 
    height: 5.5rem;
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    padding: 0 1.5rem; ; //padding left og right - could change! 
    background-color: $colorSecondary;
    color: white;
    font-size: 1rem;
    outline: none;
    border: none; 
}

// search field
.input-container{
    border: none;
    display: inline-block;
    width: 354px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .input-field{
        height: 44px;
        width: 80%;
        border: none;
        background-color: #fff;
        font-family: $font-stack;
        padding-left: 20px;
        color: #6D6D6D;
        font-size: 18px;

    }
}

.search_categories{
    background: #fff;
    overflow: hidden;
    width: 540px;
    position: relative;
    padding-left: 14px;


    .fa-angle-down{
        color: #222431;
        font-size: 16px;
        position: absolute;
        bottom: 15px;
        right: 20px;
    }
    select{
        height: 44px;
        background: transparent;
        border: 0;
        color: #6D6D6D;
        width: 120%;
        font-family: "Roboto",sans-serif;
        font-size: 18px;
    }
}



// Radio button
/* The container */
.radio-btn-container {
    width: 250px;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: "Roboto",sans-serif;
    font-size: 18px;
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid $colorTextHover;

    input:checked ~ & {/* When the radio button is checked, add a background */
        background-color: #fff;
    }
    &:after {/* Create the indicator (the dot/circle - hidden when not checked) */
        content: "";
        position: absolute;
        display: none;
    }
}

/* Show the indicator (dot/circle) when checked */
.radio-btn-container input:checked ~ .checkmark:after {
    display: block;
}
.radio-btn-container input:focus ~ .checkmark {
    display: block;
    border: 1px solid $colorExtraPrimary;
}
/* Style the indicator (dot/circle) */
.radio-btn-container .checkmark:after {
    top: 3px;
    left: 3px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: $colorExtraPrimary;
}
// Radio button


// Switch
.switch {/* The switch - the box around the slider */
    position: relative;
    display: inline-block;
    width: 48px;
    height: 24px;

    input {  /* Hide default HTML checkbox */
        opacity: 0;
        width: 0;
        height: 0;
    }
}
.slider {  /* The slider */
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
    border: 1px solid #6d6d6d;

    &:before {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        left: 2px;
        bottom: 3px;
        background-color: #6d6d6d;
        -webkit-transition: .4s;
        transition: .4s;

    }
}  
input{

    &:focus + .slider {
        box-shadow: 0 0 1px #6d6d6d;
        border: 1px solid $colorExtraPrimary;

    }
    &:checked + .slider {
        background-color: #fff;
    }
    &:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
        background-color: $colorExtraPrimary;

    }
}

.slider.round { /* Rounded sliders */
    border-radius: 34px;

    &:before {
        border-radius: 50%;
    }
}
// Switch


// Textarea

.textarea-container{
    width: 500px;
    color: #4F4F4F;
    font-size: 16px;
    font-family: $font-stack;


    .textarea{
        margin-top: 10px;
        color: gray;
        border: 1px solid lightgray;
        border-radius: 3px;
    }
}
// Textarea


