.main-content{
    width: 100vw;
    height: auto;
}
.payment-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 50px;
    @media only screen and (max-width: 768px){
        flex-direction: column;
        height: 100%;
        margin: 0px;
        padding: 0px;
    }
}
.payment-left, .payment-right{
    width: 600px;
    height: 400px;
    @media only screen and (max-width: 768px){
        width: 375px;
        height: 550px;
        padding: 0 0 0 0;
        margin: 0px;
    }
}
.payment-left{

}
.payment-right{
    border-left: 1px solid #fff;
    padding: 0 0 0 80px;
    .input-container{
        margin: 40px 0 40px 0;
    }
    @media only screen and (max-width: 768px){
        padding: 0 0 0 0;
        border-left: none;
        height: 400px;

    }
}
.order-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 540px;
    @media only screen and (max-width: 768px){
        width: 320px;
        
    }
}
.pick-up{
    display: flex;
    flex-direction: row;
    width: 600px;
    height: 100px;
    @media only screen and (max-width: 768px){
        flex-direction: column;
        width: 375px;
        .input-container{
            margin: 40px 0 40px 0;
        }
    }
}
.main-content{
    .search_categories{
        margin: 56px 0 56px 0;
        @media only screen and (max-width: 768px){
            width: 320px;
        }
    }
}
.payment-h2{
    font-family: "Roboto",sans-serif;
    font-size: 24px;
    margin: 0 0 40px 0;
}

